<h1>Express</h1>
<p>Welcome to Express</p>
<form method="post">

  <div>
    <label for="firstnumber">First number:</label>
    <input id="firstnumber" name="firstnumber" type="number" placeholder="FirstNumber">
  </div>
  <div>
    <label for="secondnumber">Second number:</label>
    <input id="secondnumber" name="secondnumber" type="number" placeholder="SecondNumber">
  </div>
  <div>
    <button type="submit">Calculate</button>
  </div>
  <output>
    {{number}}
  </output>
 
</form>