.b1  {
    color: maroon;
    padding: 50px 20px;
    text-align: center;
    background: rgb(210, 231, 231);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .justify {
    background: rgb(210, 231, 231);
      text-align: right;
      text-indent: 15px;
      font-family: 'Times New Roman', Times, serif;
      font-style: italic;
  }
  .right {
    text-align: right;
 
    text-indent: 10px;
background: rgb(210, 231, 231);
    font-style: italic;
}
