.b1  {
  color: maroon;
  padding: 50px 20px;
  text-align: center;
  background: rgb(210, 231, 231);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.box1{
padding-top: 200px ;
background-color: rgb(255, 130, 136);





}
.box2{
background: rgb(210, 231, 231);
}
#text1{
color: maroon;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: rgb(255, 130, 136);
}
#text2{
  color: maroon;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(255, 130, 136);
  }

  #text3{
  color: maroon;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(255, 130, 136);
  }
  #text4{
    color: maroon;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 130, 136);
    }
    #text5{
      color: maroon;
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
      background-color: rgb(255, 130, 136);
      }
      #text6{
        color: maroon;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: rgb(255, 130, 136);
        }
        #text7{
          color: maroon;
          text-align: center;
          font-family: Georgia, 'Times New Roman', Times, serif;
          background-color: rgb(255, 130, 136);
          }    
  .box3{
background: rgb(210, 231, 231);
height: 1000px;
overflow: auto;
}
.border1{

 background: rgb(235, 188, 141);
 font-family: Georgia, 'Times New Roman', Times, serif;
 text-align: center;

}
.border2{

background: rgb(172, 218, 172);
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;

}